<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>Rocket: Sessions</title>
   </head>
   <body>
      <h1>Rocket Session: Please Login</h1>
      {{#if flash}}
         <p>{{ flash }}</p>
      {{else}}
         <p>Please login to continue.</p>
      {{/if}}

      <form action="/login" method="post" accept-charset="utf-8">
         <label for="identifier">Username/Email</label>
         <input type="text" name="identifier" id="identifier" value="" placeholder="Username / Email">
         <label for="password">password</label>
         <input type="password" name="password" id="password" value="">
         <p><input type="submit" value="login"></p>
      </form>
   </body>
</html>

